node_modules
package-lock.json
yarn.lock

.DS_Store
.cache
.env
.vercel
.output
.nitro
/build/
/api/
/server/build
/public/build# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.tanstack

# Google Cloud deployment keys
deployment-key.json
deployment-dev-key.json
*.json
!package.json
!tsconfig.json
